
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #000;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.navbar {
    background-color:rebeccapurple;
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px solid;
}

.navbar .flex {
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
    padding: 0 40px;
    
}

.card {
    background-color: rebeccapurple;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 5px;
    
}

 .btn {
    display: inline-block;
    padding: 10px 40px;
    cursor: pointer;
    background-color: #000;
    border: 5px solid rebeccapurple;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;

}

.btn:hover {
    background-color: rebeccapurple;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
 
/* Showcase */

.showcase {
    height: 400px;
    background-color: #b775f4;
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.showcase p {
    margin: 20px 0;
    text-align: center;
    font-size: 25px;
}

.showcase .grid {
    grid-template-columns:  55% 45%;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.showcase-pic {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 80px;
    left: 60%;
   
    
    z-index: 100;
}

/* General */

.general-pic {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 80px;
    right: 60%;
    z-index: 100;
}

.general {
    height: 400px;
    background-color: #b775f4;
    color: #fff;
    position: relative;
}

.general h1 {
    position: absolute;
    left: 60%;
    bottom: 60%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.general p {
    position: absolute;
    margin: 20px 0;
    text-align: center;
    left: 40%;
    padding: 0 20px;
    bottom: 10%;
}

.general .grid {
    grid-template-columns:  45% 55%;
    
}

/* College */

.college {
    height: 400px;
    background-color: #b775f4;
    color: #fff;
    position: relative;
}

.college h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.college p {
margin: 20px 0;
text-align: center;
}

/* Work */

.work-title {
     
        background-color: purple;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px 2px #000;
        border: 2px solid #fff;
        color: #fff;
        font-size: 25px;
        width: 300px;
       margin: auto;
        text-align: center;
        transform:translate(-4%);
        
        
    
}





div[class^='category-'] {
    /* margin-bottom: 200px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    right: -20px;
   
   
}

/* .mid2 {
    height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/future_technology_prospects.png);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 100%, 100% 500px, 100% 0, 0 0);
  
  position: relative; 
} */

.work a {
    justify-self: center;
    position: relative;
    display: inline-block;
    
}

/* .mid3 {
    height: 110vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/200504-AI1\ \(1\).jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(100% 10px, 100% 140%, 0% 100%, 0 20%);
  
  position: relative; 
} */



.work-category .active {
    background-color: #b19cd9;
    
    
   
    
}



.work a img {
    width: 300px;
    justify-self: center;

}



.imgThumb {
    width: 300px;
    position: relative;
    /* display: inline-block; */
   

}

 .imgThumb img{
    width: 100%;
    border: 8px solid #fff;
    box-shadow: 0 0 5px 1px #555;
    border-radius: 5px;
}

 .imgThumb:hover img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;

}

 .imgThumb span {
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
}

 .imgThumb:hover span {
    display: block;
}

.imgThumb span input[type="button"]{
    width: 150px;
    height: 40px;
    background: purple;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transform: translate(-13%, -25%);
}

/* Tablets and under */

@media(max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid, .features-main .grid, .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }

    
}

/* .end {
    height: 110vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/GettyImages-964033964-ca3290057ccc4024b57e755423572264.jpg);
  background-size: cover;
  background-position: top;
  clip-path: circle(40%);
  
  position: relative; 
} */

footer {
    background-color: #b19cd9;
    overflow: hidden;
}

footer hr {
    display: flex;
   align-items: center;
   justify-content: center;
   background-color: #b19cd9;
}

footer p {
    text-align: center;
    color: #fff;
    background-color: #b19cd9;
    font-size: 1.2rem;
    padding: 30px 0;
    
}

.linkThumb img {
    height: 50px;
    width: 50px;
    margin-top: 15px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    
}

 .linkThumb {
    color: #707070;
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    
    
}

/*Mobile*/

@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }

    .showcase {
        height: 800px;
    }
    
    .showcase h1, .showcase p,  .btn{
        transform: translateY(150px);
    }

    .showcase-pic {
        
        left: 15%;
        top: 5%;
    }

    .general {
        height: 1000px;
    }

    .general-pic {
        left: 15%;
        top: 5%;
    }

    .work-title {
        margin-right: 50px;
    }

    .general p {
        padding: 0;
        transform: translateX(-30%);
        
    }

    .general h1 {
        top: 42%;
        left: 25%;
    }

    .college {
        height: 800px;
    }
    
    .college h1, .college p,  .btn{
        transform: translateY(150px);
    }

    .college-pic {
        
        left: 15%;
        top: 5%;
    }

    div[class^='category-'] {
        /* margin-bottom: 200px; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        margin-left: 55px;
       
       
    }

    
    
}






